<div class="row" style="margin-top: 2rem;">
        <div class="col-md-6">
            <div class="jumbotron home-jumbo">
                <h1 class="display-4">Hello, welcome!</h1>
                <p class="lead">This is our Restaurant Directory. Please feel free to look around and visit the restaurant pages.</p>
                <hr class="my-4">
                <p>Want to get straight to the action? Click Below for our directory!</p>
                <a class="btn btn-primary btn-lg" href="/directory" role="button">Go To Directory</a>
            </div>  
        </div>
        <div class="col-md-6">
            <div class="card home-featured">
                <img src="{{chosen.image}}" class="card-img-top" alt="Img" style="max-height: 285px;">
                <div class="card-body">
                    <h5 class="card-title"><b>Featured Restaurant:</b> {{chosen.name}}</h5>
                    <a href="/directory/{{chosen.id}}" class="btn btn-primary">Visit Restaurant Page</a>
                </div>
            </div>
        </div>
    </div>